@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', 'sans-serif';
  margin: 0;
  overflow-x: hidden; /*para mawala ang vertical scroll bar*/
  /* overflow: hidden; */
  /*DAHIL DITO SA overflow: hidden NA TO KAYA WALANG SCROLL BALL*/
}
.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 0;
  padding: 20px 26px 20px 15px;
}

.left-side-nav {
  display: flex;
  align-items: center;
  width: 415px;
}

.logo {
  padding-right: 13px;
  padding-bottom: 0;
  width: 184px;
  height: 32px;
  border-right: 1px solid #979797;
  margin-top: -2px;
}

.devotion-title {
  margin-left: 10px;
  font-size: 18px;
  transform: translateY(-2px);
}

.right-side-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 335px;
}

.right-side-nav a {
  color: black;
  position: relative;
  left: 30px;
}

.right-side-nav #search-icon {
  font-size: 20px;
  position: relative;
  left: 15px;
}

.right-side-nav .btn {
  align-items: center;
  background-color: #dd551e;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 160px;
}

.right-side-nav .btn #heart-icon {
  color: #fff;
  padding-right: 5px;
}

.right-side-nav .btn span {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.right-side-nav #hamburger {
  font-size: 25px;
  font-weight: 300px;
}

.devo-img-for-today {
  width: 100%;
  height: 220px;
  background-color: teal;
  position: relative;
}

.devo-img-for-today img {
}

.toolbar {
  width: 100%;
  height: 60px;
  background-color: #1a335a;
  position: relative;
  display: flex;
  justify-content: center;
}

.toolbar .bookmark-row {
  position: relative;
  right: 130px;
  align-self: center; /* gagana sya kapag sa child class, pero hindi sa grand */
}

.toolbar .bookmark-row #bookmark-icon {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  margin: 0px 10px;
  font-size: 32px;
}

.toolbar .bookmark-row span {
  text-transform: uppercase;
  color: white;
  font-size: 17px;
  position: relative;
  bottom: 10px;
}

.toolbar .audio-row {
  position: relative;
  right: 80px;
  display: flex;
  align-self: center;
  padding-left: 50px;
  border-left: 1px solid white;
}

#play-button {
  color: white;
  font-size: 35px;
  margin: 0px 10px;
}

.audio-row-subscriber {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5px;
}

.audio-progress {
  font-size: x-small;
  align-self: flex-end;
}

.toolbar .audio-row .audio-slider {
  height: 2px;
  width: 270px;
}

.audio-row-underneat {
  align-self: flex-end;
}

.toolbar .audio-row,
#circle-plus {
  color: white;
  font-size: 12px;
}

.toolbar .audio-row,
#circle {
  color: white;
  font-size: 12px;
  padding-left: 30px;
}

.toolbar .audio-row .audio-row-text {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.content-body {
  max-width: 800px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 30px auto;
  box-sizing: border-box;

  /* border: 1px solid black; */
  /* booooorrrrdddeeer*/
}

.content-body .date-today {
  display: flex;
  justify-content: center;
}

.content-body .date-today img {
  margin: 0px 5px;
}

.content-body .date-today span {
  font-size: 18px;
}

#triangle {
  margin: 0px 5px;
  transform: translateY(5px);
}

.devotion-title-header {
  font-family: 'PT Serif', serif;
  font-weight: lighter;
  font-size: 46px;
  color: #2279cb;
  text-align: center;
}

.bible-in-a-year {
  display: flex;
  justify-content: center;
}

.bible-in-a-year a {
  margin-left: 5px;
  text-decoration: underline;
  color: #1e365f;
  font-weight: 700;
}

.content-body .content-title {
  text-align: center;
  color: #222;
  font-style: italic;
  font-weight: lighter;
  font-family: 'PT Serif', serif !important;
  font-size: 24px;
  line-height: 36px;
}

.content-body .reference-verse {
  display: flex;
  justify-content: center;
}

.content-body .reference-verse a {
  color: #222;
  font-size: 16px;
  margin-bottom: 60px;
}

.devo-scripture-insight {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.devo-scripture-insight .todays-insight {
  margin-right: 16px;
  font-size: 18px;
  color: #222;
  font-weight: 700;
  line-height: 30px;
}

.btn-insight {
  width: 170px;
  height: 35px;
  background-color: #2279cb;
  border-radius: 17.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-insight span {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}

.content-message {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  color: #222;
  line-height: 30px;
  text-align: left;
}

.content-message em {
  font-style: italic;
  font-family: 'PT Serif', serif;
}

.devo-author span a {
  text-decoration: none;
  color: #1e375f;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
